
.*
!.gitignore
*~
build/*
cmake-build-debug/*
build_dbg/*
backup/*
bin/*
lib/*
include/*
src/global/Config.h
install/*
!install/install_new.zip
!install/github/*
#!install/install_new.sh
!install/Readme.txt
#!install/requirements.txt
!install/install_gtest.make
!install/install_llvm.make
!install/install_z3.make
!install/install_systemc.make
src/plugin/PluginFactory.cpp
src/parser/CommandLineParametersConfig.h

#RISCV
example/RISCV_Test/Logfiles/*
example/RISCV_interrupts/Examples/*.o
example/RISCV_interrupts/RTL/work/*
example/RISCV_interrupts/RTL/transcript

tests/Print_ITL_Tests/unsorted/*
tests/PrintSkeleton_Test/unsorted/*

#Python cache
*.pyc
#TEX files
*.aux
*.log
*.trail*
*.out
*.backup

#Latex
*.toc
*.gz

#Paulius
*_gitignore*
cmake-build-release/*

example/RISCV_synthesis/riscv_tailoring/simulate/work/
example/RISCV_synthesis/riscv_tailoring/synthesize/work/
example/RISCV_synthesis/riscv_tailoring/synthesize/results/
example/RISCV_synthesis/riscv_tailoring/synthesize/default.svf
example/RISCV_synthesis/riscv_tailoring/generated/
example/RISCV_synthesis/riscv_tailoring/BREG/generated/
example/RISCV_synthesis/riscv_tailoring/BREG/work/
example/RISCV_synthesis/riscv_tailoring/formal_verification/work/
example/RISCV_synthesis/riscv_tailoring/synthesis_flow/work/
example/exampleheaders.h
tests/testheaders.h
/tests/Print_ITL_Tests/TestCases/tests.h
