
.*
!.gitignore
*~
build/*
cmake-build-debug/*
build_dbg/*
backup/*
bin/*
lib/*
include/*
src/global/Config.h
install/*
!install/install_new.zip
!install/github/*
!install/github/install.sh
#!install/install_new.sh
!install/Readme.txt
#!install/requirements.txt
!install/install_gtest.cmake
!install/install_llvm.cmake
!install/install_z3.cmake
!install/install_systemc.cmake
src/plugin/PluginFactory.cpp
src/parser/CommandLineParametersConfig.h

#RISCV
example/RISCV_Test/Logfiles/*
example/RISCV_interrupts/Examples/*.o
example/RISCV_interrupts/RTL/work/*
example/RISCV_interrupts/RTL/transcript

tests/Print_ITL_Tests/unsorted/*
tests/PrintSkeleton_Test/unsorted/*

#Python cache
*.pyc
#TEX files
*.aux
*.log
*.trail*
*.out
*.backup

#Latex
*.toc
*.gz

#Paulius
*_gitignore*
cmake-build-release/*

example/RISCV_synthesis/riscv_tailoring/simulate/work/
example/RISCV_synthesis/riscv_tailoring/synthesize/work/
example/RISCV_synthesis/riscv_tailoring/synthesize/results/
example/RISCV_synthesis/riscv_tailoring/synthesize/default.svf
example/RISCV_synthesis/riscv_tailoring/generated/
example/RISCV_synthesis/riscv_tailoring/BREG/generated/
example/RISCV_synthesis/riscv_tailoring/BREG/work/
example/RISCV_synthesis/riscv_tailoring/formal_verification/work/
example/RISCV_synthesis/riscv_tailoring/synthesis_flow/work/
example/exampleheaders.h
tests/testheaders.h
/tests/Print_ITL_Tests/TestCases/tests.h

#BubbleSort
example/BubbleSort/ESL/cmake-build-debug/
example/BubbleSort/DeSCAM_parse/
example/BubbleSort/RTL-Step2_Ternary/Simulation/
example/BubbleSort/RTL-Step2_Ternary/PrintSkeleton/work/
example/BubbleSort/RTL-Step2_Ternary/PrintSkeleton/*.wlf
example/BubbleSort/RTL-Step2_Ternary/PrintSkeleton/*.bak
example/BubbleSort/RTL-Step2_Ternary/PrintSkeleton/*.mti

#FFT
example/FFT/SEQ/DeSCAM_parse
example/FFT/SEQ/RTL/Simulation
example/FFT/PIPELINE/DeSCAM_parse

#FIR-Filter
example/FIR-Filter/SEQ/DeSCAM_parse
example/FIR-Filter/SEQ/RTL/Simulation
example/FIR-Filter/PIPELINE/DeSCAM_parse
example/FIR-Filter/PIPELINE/RTL/Simulation




/include_old/
/lib_old/
